<div *ngIf="pauta">
    <h4>Assunto:</h4>
    <h3><p>{{pauta.descricao}}</p></h3>
    
    <div class="row">
        <div class="col-md-4">
            <div *ngIf="pauta.situacao === 'Criada'">
                <button class="btn btn-primary mr-2 mb-4" (click)="ingressar()">Ingressar</button>
                <button class="btn btn-success mr-2 mb-4" (click)="iniciar()">Iniciar votação</button>
            </div>
        </div>
        <div class="col-md-2 ml-4"><strong>Situação:</strong> <label>{{pauta.situacao}}</label></div>
    </div>
    
    <table class="table table-stripped">
        <thead>
            <th>Nome</th> 
            <th>CPF</th>
        </thead>
        <tbody>
            <tr *ngFor="let associado of associados">
                <td>{{associado.nome}}</td>
                <td>{{associado.cpf}}</td>
            </tr>
        </tbody>
    </table>
</div>